#screen { display:block; }
#print { display:none; }

@media print {
  #screen { display:none; }
  #print { display:block; }

  h1 { margin-top: 0; margin-bottom: 12px; padding: 0;}

  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #000;
    padding: 2px;
  }
}

@page {
  size: auto;
  margin: 0.6in 0.6in 0.6in 0.6in;
}

body {
  width: 800px;
  margin: 0 auto;
  font-size: 12pt;
  font-family: sans-serif;
}

#noConfig {
  font-weight: bold;
  color: #d25d28;
}

#picklistCSV {
  display: none;
  cursor: pointer;
}
